<div class="slide slide-caso">
    <div class="caso-left">
        <div class="caso-flag">{{caso_industria}}</div>
        <div class="caso-tag">{{caso_empresa}}</div>
        <div class="caso-titulo">{{caso_titulo}}</div>
        <div class="caso-intro">{{caso_contexto}}</div>
        <div class="caso-separador"></div>
        <div class="caso-cita">"{{caso_testimonio}}"</div>
        <div class="caso-autor">{{caso_autor}}</div>
        <div class="caso-cargo">{{caso_cargo}}</div>
    </div>

    <div class="caso-right">
        <div class="caso-seccion">
            <div class="caso-seccion-label ic-proposito">El propósito</div>
            <div class="caso-seccion-texto">{{caso_proposito}}</div>
        </div>
        <div class="caso-row">
            <div class="caso-seccion">
                <div class="caso-seccion-label ic-ruta">La ruta</div>
                <div class="caso-seccion-texto">{{caso_ruta}}</div>
            </div>
            <div class="caso-seccion">
                <div class="caso-seccion-label ic-adaptativo">Lo adaptativo</div>
                <div class="caso-seccion-texto">{{caso_adaptativo}}</div>
            </div>
        </div>
        <div class="caso-seccion">
            <div class="caso-seccion-label ic-impacto">El impacto</div>
            <div class="caso-seccion-texto">{{caso_impacto}}</div>
        </div>
        <div class="page-num">{{num_pagina}}</div>
    </div>
</div>
